<!DOCTYPE html>
<html>
<head>
  {% include "head.html" %}
  <title>{{brand}}: Latest Deleted Tweets</title>
</head>
<body>
  {% include "navbar.html" %}
  <div class="container main">
        <h2>Latest Deleted Tweets</h2> <small>{{count}} deleted tweets in database</small>
        <hr>
        {% set i = 0 %}
        {% for status in deleted[:200] %}
        <div class="tweet" id="tweet-{{i}}">
          <div class="panel panel-default">
            <div class="panel-body">
              <img style="border-radius: 5px;" src="{{status["user"]["profile_image_url"]}}"> <a href="/figure?account={{status["user"]["id"]}}"><strong>{{status["user"]["name"]}}</strong></a> <small>@{{status["user"]["screen_name"]}}</small><br>
              <br><h4><span class="tweet-text">{% apply linkify %}{% raw status["text"] %}{% end %}</span></h4>
              <p>
                <i>
                  <small>{{status["created_at"]}}</small>
                </i>&nbsp;<span class="label label-danger">DELETED</span>
              </p>
              &nbsp;
              <a href="tweet?account={{status["user"]["id"]}}&tweet={{status["id"]}}" class="btn btn-primary btn-xs">View Full Tweet</a>
            </div>
          </div>
        </div>
        {% set i += 1 %}
        {% end %}
    <hr>
  </div>
  {% include "analytics.html" %}
</body>
</html>
