<!DOCTYPE html>
<html>
<head>
  {% include "head.html" %}  
  <meta name="description" content="{{figure["name"]}} on {{brand}}: deleted tweets, archived statements, and silent retractions.">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
  <script>
  function showFullUserdata(){
    data = {% raw figure["json"] %}
    $("#rawuserdata").jsonViewer(data);
    $("#rawuserdata").slideToggle();
  }

  function getStableLink(){
    alert(window.location.href)
  }

  function search(){
    term = $("#searchbar").val();
    console.log("Searching for '" + term + "'...")
    $(".tweet").each(function( index ) {
      inside = $(this).find(".tweet-text").text();
      if(!inside.toLowerCase().includes(term.toLowerCase())){
        $(this).hide();
      }else{
        $(this).show();
      }
    });
  }

  function showDeleted(){
    console.log("showing deleted...")
    $(".tweet").each(function( index ) {
      inside = $(this).find(".tweet-deleted").text();
      if(!inside.toLowerCase().includes("yes")){
        $(this).hide();
      }else{
        $(this).show();
      }
    });
  }

  function showAll(){
    console.log("showing all...")
    $(".tweet").each(function( index ) {
      $(this).show();
    });
    $("#showAll").fadeOut();
  }
  </script>
</head>
<body>
  {% include "navbar.html" %}
  <div class="container main">
    <ul class="breadcrumb">
      <li><a href="/figures">Figures</a></li>
      <li class="active">@{{figure["screen_name"]}}</li>
      <a onclick="getStableLink()" class="btn btn-xs btn-default pull-right">Stable Link</a></li>
    </ul>
    {% include "figurewidget.html" %}
      <hr>
      <div class="row">
        <div class="col-md-3">
          <a href="tweets?account={{figure["id"]}}" class="btn btn-xl btn-success">All Archived Tweets</a>&nbsp;
          <br><br>
        </div>
        <div class="col-md-3">
          <a href="tweets?account={{figure["id"]}}&last=50" class="btn btn-xl btn-success">Last 50 Archived Tweets</a>&nbsp;
          <br><br>
        </div>
        <div class="col-md-3">
          <a href="tweets?account={{figure["id"]}}&last=100" class="btn btn-xl btn-success">Last 100 Archived Tweets</a>&nbsp;
          <br><br>
        </div>
        <div class="col-md-3">
          {% if figure["deleted_tweets_length"] > 0 %}
          <a href="tweets?account={{figure["id"]}}&deleted=True" class="btn btn-xl btn-warning">View Deleted Tweets</a>
          {% end %}
        </div>
      </div>
    </div>
    {% include "analytics.html" %}
  </body>
  </html>
