<!DOCTYPE html>
<html>

<head>
    {% include "head.html" %}
    <title>{{brand}}: monitoring celebrities, politicians, and public figures, scanning for silent retractions and deleted tweets. See what they do not want you to see!</title>
    <meta name="description" content='Monitoring celebrities, politicians, and public figures, scanning for silent retractions and deleted tweets. See what they do not want you to see!'>
</head>

<body>
    {% include "navbar.html" %}
    <div class="container main">
        <div class="jumbotron">
            <div class="row">
                <div class="container">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <h1>{{brand}}</h1>
                        <p>Monitoring <strong>{{count}}</strong> celebrities, politicians, and public figures, scanning for silent retractions and deleted tweets.</p> 
                        <p>See what they don't want you to see!</p>
                        <div class="btn-group" role="group" aria-label="Splash Buttons">
                            <button type="button" class="btn btn-primary btn-block" onclick="location.href = '/figures';">Explore the Database <i class="glyphicon glyphicon-folder-open"></i></button>
                            <button type="button" class="btn btn-info btn-block" onclick="location.href = '/deleted';">See Latest Tweets <i class="glyphicon glyphicon-eye-open"></i></button>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 splash_form_container">
                        <div class="splash_form_header">
                            <h3>FIND TWEETS</h3>
                        </div>    
                        <div class="splash_form_search">
                            <form role="search" class="splash_search_form">
                                <div class="input-group add-on">
                                    <input class="form-control lg-10" placeholder="Search @handles or topics..." name="find_data" id="find_data" type="text">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>    
                        <div class="splash_stat_counter" align="center">
                            <div class="row">
                                <div class="col-xs-4 stat">
                                    <p>1,000</p>
                                    <small>Figures</small>
                                </div>
                                <div class="col-xs-4 stat">
                                    <p>1,000</p>
                                    <small>New Tweets</small>
                                </div>
                                <div class="col-xs-4 stat">
                                    <p>1,000</p>
                                    <small>Tweets Archived</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
            <h2>Latest Deleted Tweets</h2>
            <hr> 
            <!-- Set for loop for recently deleted tweets. Should be an even number, 2 or 4 suggested -->
            {% for status in deleted[:2] %}
                <div class="tweet">
                    <div class="panel panel-default col-sm-12 col-md-6 col-lg-6">
                        <div class="panel-body" style="overflow: hidden;">
                            <img style="border-radius: 5px;" src="{{status["user"]["profile_image_url"]}}"> <a href="/figure?account={{status["user"]["id"]}}"><strong>{{status["user"]["name"]}}</strong></a> <small>@{{status["user"]["screen_name"]}}</small><br>
                            <br><h4><span class="tweet-text">{% apply linkify %}{% raw status["text"] %}{% end %}</span></h4>
                            <p><i><small>{{status["created_at"]}}</small></i> <span class="label label-danger">DELETED</span> </p>&nbsp;<a href="tweet?account={{status["user"]["id"]}}&tweet={{status["id"]}}" class="btn btn-primary btn-xs">View Full Tweet</a>
                        </div>
                    </div>
            {% end %}
                </div>
                <div class="col-lg-12" style="margin-bottom:25px;">
                    <p align="center"><a href="/deleted#tweet-{{len(deleted)}}" class="btn btn-md btn-info">More Deleted Tweets</a></p>
                </div>
            </div>
        </div>
        <hr>    
    </div>

    <footer class="navbar navbar-fixed-bottom">
        <div class="container">
            <p>{{brand}} is a <a href="https://politiwatch.org" class="arvo">Politiwatch</a> initiative. More info available here on our <a href="https://polititweet.org/about">About</a> page.</p>
        </div>
    </footer>
    {% include "analytics.html" %}
</body>

</html>